
@import "bootstrap-less/mixins.less";
@import "bootstrap-less/bootstrap.less";
@import "bootstrap-less/variables.less";
@import "bootstrap-less/grid.less";
@import "resume.less";

body {
	font-family: 'Roboto', sans-serif;
}

main {

	.main-nav {
		height: 46px;
		li {
			width: 19%;
			display: inline-block;
			line-height: 46px;

			a {
				text-transform: uppercase;
				text-align: center;
				padding: 10px;
			}
		}
	}
}

a {
	&:hover {
		text-decoration: none;
	}
}
.container-fluid {
	padding: 0;
}
//common styles
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
h2 {
	color: @gray-dark;
	.uppercase;
	font-weight: 200;
}

p {
	line-height: 2;
}

.btn {
	font-family: @font-secondary;
	color: @white;
	letter-spacing: 3px;
	padding: 10px 20px;
	border: solid 1px @white;
	letter-spacing: 3px;
	margin: 10px;
	.uppercase;
	width: 200px;

	@media (max-width: @screen-xs-max) {
		max-width: 100%;
		padding: 44px 0;
	}

	&:hover {
		background: @black;
		border: solid 1px @black;
		color: @white;
	}

	&.resume-button {
		.center-block;
		color: @gray-dark;
		border-color: @gray-dark;
		margin: @grid-gutter-width auto;

		&:hover {
			background: @brand-primary;
			border: @brand-primary;
			color: @gray-lighter;
		}
	}
}

.btn-dark {
	.btn;
	color: @gray-dark;
	border: solid 1px @gray-dark;

	&:hover {
		background: @brand-primary;
		border-color: @brand-primary;
		color: @white;
	}
}

.pageone {
	background-image: url("../images/cityscape.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-position: center center;
	height: 100vh;
	display: block;
	.img-responsive;
	.vertical-center;
}

.header-row {
	.clearfix;
	padding-bottom: 100px;

	.nav-block {
		.clearfix;
	}
	.title-block {
		text-align: center;

		h1 {
			font-family: "Open Sans Condensed", san-serif;
			color: @brand-primary;
			margin: 0;
			font-weight: 900;
			font-size: 50px;
			letter-spacing: 7px;

			span {
				font-weight: 300;
			}

			@media (max-width: @screen-xs-max) {
				padding-top: @grid-gutter-width;
				font-size: 44px;
			}
		}

		h3 {
			color: @gray-dark;
			letter-spacing: 2px;
			display: inline-block;
			position: relative;
			z-index: 1;
			padding-bottom: 20px;

			@media (max-width: @screen-xs-max) {
				font-size: 20px;
			}
			span {
				padding-bottom: 10px;
			}
		}
	}

	.navbar-nav {
		.nav-justified;
		list-style: none;
		font-family: @font-secondary;
		text-align: center;
		padding-left: 0;

		@media (max-width: @screen-xs-max) {
			margin: 0;
		}

		li {
			padding-left: 10px;
			padding-right: 10px;

			@media (max-width: @screen-xs-max) {
				padding-left: 0;
			}

			a {
				color: @gray-dark;
				width: 100%;
				padding: 10px 20px;
				border: solid 1px @gray-dark;
				letter-spacing: 3px;
				font-weight: 200;

				&:hover {
					background: @brand-primary;
					border-color: @brand-primary;
					color: @white;
				}

				&.btn {
					@media (max-width: @screen-xs-max) {
						background: @gray-lighter;
						padding: 20px;
						width: 100%;

						&:hover {
							background: @brand-primary;
							color: @white;
						}
					}
				}
			}
		}
	}

	.downarrow {
		display: block;
		text-align: center;
		font-size: 40px;
		color: darken(@brand-primary, 5%);
		position: absolute;
		left: 50%;
		bottom: 0%;

		@media (max-width: @screen-xs-max) {
			left: 46%;
		}
	}
}

.about-contain-fluid {
	background-color: @gray-lighter;
	color: @gray-dark;

	.about-row {

		h4 {
			.uppercase;
		}

		.social-media {
			list-style: none;
			text-align: center;
			padding-left: 0;
			padding-top: 40px;

			li {
				display: inline-block;

				a {
					padding: 15px;
					font-size: 20px;
				}
			}
		}
		.left {
			.make-sm-column(4);
			padding-top: 60px;
			padding-bottom: 60px;

			@media (max-width: @screen-xs-max) {
				padding-bottom: 0px;
			}


			img {
				.img-responsive;
				border-radius: 100%;
				max-height: 230px;
				.center-block;
			}
		}

		.right {
			padding-top: 30px;
			padding-bottom: 30px;
			.make-sm-column(8);

			@media (max-width: @screen-xs-max) {
				padding-top: 0px;
				text-align: center;
			}
			h3 {
				.uppercase;
				color: @brand-primary;
				padding-top: 30px;
				font-weight: 200;
				padding: 20px 0;

				@media (max-width: @screen-xs-max) {
					padding: @grid-gutter-width 0;
				}
			}

			p {
				font-size: 16px;
				line-height: 2;
				padding-bottom: 10px;

			}
		}

	}

	.skills-row {
		.expert-column, .experience-column {
			.make-sm-column(6);
			@media (max-width: @screen-xs-max) {
				padding-bottom: @grid-gutter-width;
			}
		}

		.expert-column {
			@media (max-width: @screen-xs-max) {
				padding-top: @grid-gutter-width;
			}
		}

		h4 {
			@media (max-width: @screen-xs-max) {
				text-align: center;
			}
		}

		ul {
			padding-left: 20px;
			line-height: 2;

			@media (max-width: @screen-xs-max) {
				list-style: none;
				padding: 0;
			}
		}
	}
}

.work-samples {
	.uppercase;
	text-align: center;
	padding: 600px 0;
	font-weight: 200;
	background: @gray-dark;
	color: @gray-lighter;
}

.project-summ-container-fluid {
	background-color: lighten(@gray-dark, 70%);

	&.deployed-container {
		background-color: darken(@gray-dark, 5%);

		h2 {
			color: lighten(@gray-dark, 60%);
		}
		#portfolio {
			h3 {
				color: @brand-primary;
			}
			p {
				color: lighten(@gray-dark, 60%);
			}
		}
	}

	.project-summary-container {
		padding-bottom: @grid-gutter-width*2;

	}
}

.project-summary-row {
	p, h2, .website-header {
		color: @gray-dark;
	}

	&.deployed {
		p {
			color: @gray-lighter;
		}

		h2 {
			color: lighten(@brand-primary, 10%);
		}
	}
	.project-column {
		.make-sm-column(4);
		padding: @grid-gutter-width;
		text-align: center;
		position: relative;
		max-height: 275px;
		overflow: hidden;

		img {
			.img-responsive;
			padding-bottom: 10px;
		}

		#floating-box {
			background: @gray-dark;
			padding: 10px @grid-gutter-width;
			height: 100%;
			width: 100%;
			opacity: .9;
			border-radius: 5px;
			display: none;

			h3 {
				.uppercase;
				color: lighten(@brand-primary, 20%);
				font-weight: 200;
			}
			p {
				color: @gray-lighter;

				span {
					display: block;
					.uppercase;
					font-weight: 900;
				}
			}

			a {
				font-size: 20px;
				color: lighten(@brand-primary, 20%);

				&:hover {
					color: @brand-primary;
				}
			}
		}
	}
}


.project-contain-fluid {
	background-color: darken(@brand-primary, 10%);
	color: @gray-lighter;

	h2 {
		color: @gray-lighter;
		padding-top: 0;
	}

	&.other-projects {
		padding: @grid-gutter-width*2 0;
		background-color: darken(@gray-dark, 5%);
		a {
			&:hover {
				color: @gray-lighter;
			}
		}
	}
	.project-column {
		.make-sm-column(6);
		padding-top: 60px;
		padding-bottom: 60px;

		img {
			.center-block;
			.img-responsive;

			@media (max-width: @screen-xs-max) {
				margin-top: @grid-gutter-width*2;
			}
		}
		@media (max-width: @screen-xs-max) {
			padding: 0 40px;
		}

		.btn, .btn-dark {
			@media (max-width: @screen-xs-max) {
				.center-block;
				padding: 30px;
				margin-top: 20px;
				width: 100%;
			}
		}
	}

}

.projects-block {
	h3 {
		font-weight: 200;
		.uppercase;
	}
}

.project2 {
	background-color: @gray-lighter;
	color: @gray-dark;
}


.project4 {
	background-color: @gray-lighter;
	color: @gray-dark;
}

footer {
	background-color: lighten(@gray-light,40%);
	color: @gray-lighter;
	text-align: center;

	.footer-container {
		.clearfix;
		padding: @grid-gutter-width*2 0;

		.footer-column {

			h1 {
				font-family: "Open Sans Condensed", san-serif;
				color: lighten(@gray-darker,20%);
				margin: 0;
				font-weight: 900;
				font-size: 50px;
				letter-spacing: 7px;

				span {
					font-weight: 300;
				}
			}

			h3 {
				color: @gray-darker;
				letter-spacing: 2px;
				display: inline-block;
				position: relative;
				z-index: 1;
				padding-left: 5px;
				span {
					padding-bottom: 10px;
				}
			}

			ul {
				list-style: none;
				padding-left: 0;
				li {
					display: inline-block;
					a {
						font-size: 24px;
						padding: 10px;


						.fa {
							padding: 10px;
						}
					}
				}
			}
		}
	}
}
