<div class="about-contain-fluid container-fluid">
<div class="about-container container">
  <div class="about-row">
    <div class="left">
      <img src="images/colorheadshot.jpg" alt="Treasure Porth, Front End Engineer">
      <ul class="social-media">
        <li><a href="http://github.com/trezp"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/treasureporth"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="http://trezp.github.io/"><i class="fa fa-rss"></i></a></li>
        <li><a href="mailto:treasure.porth@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
      <a href="resume.html" class="btn resume-button">View My Resume</a>
    </div>
    <div class="right">
      <h3>Driven. Insightful. Meticulous.</h3>
      <p>I'm a fullstack JavaScript developer.
        I help run <a href="http://www.teamtreehouse.com/techdegrees">Treehouse's Techdegree programs.</a>
        I'm happy as long as I have a problem to solve and something new to learn. I am passionate about traveling and
        very good at karaoke. <a href="mailto:treasure.porth@gmail.com">Contact Now.</a></p>

      <div class="skills-row">
        <div class="expert-column">
          <h4>very comfortable with:</h4>
          <ul>
            <li>Using my resourcefulness to solve virtually any coding task or problem </li>
            <li>HTML/CSS</li>
            <li>JavaScript/JQuery</li>
            <li>Responsive web design</li>
            <li>SASS/SCSS, Bootstrap with SASS</li>
            <li>Bootstrap with LESS</li>
            <li>Building/validating dynamic custom forms</li>
            <li>Git and Github</li>
          </ul>
        </div>
        <div class="experience-column">
          <h4>know my way around:</h4>
          <ul>
            <li>Object-oriented JavaScript</li>
            <li>Angular</li>
            <li>Meteor.js</li>
            <li>Node/Express</li>
            <li>MongoDB</li>
            <li>Django</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
