<div class="container-fluid pageone">
<div class="container">
<div class="header">
  <div class="header-row">
    <div class="title-block">
      <a href="#projects"><h1>TREASURE <span>PORTH</span></h1>
        <h3>
          <span>FULLSTACK <strong>DEVELOPER</strong></span><span> // JAVASCRIPT <strong>ENTHUSIAST</strong></span>
        </h3>
      </a>
    </div>
    <div class="nav-block">
      <ul class="navbar-nav">
        <li><a href="#/about" class="btn">About</a></li>
        <li><a href="#/projects" class="btn">Projects</a></li>
        <li><a href="http://github.com/trezp" class="btn">Github</a></li>
        <li><a href="https://www.linkedin.com/in/treasureporth" class="btn">LinkedIn</a></li>
        <li><a href="#/resume" class="btn">Resume</a></li>
      </ul>
      <!-- <div class="downarrow"><i class="fa fa-chevron-circle-down"></i></div> -->
    </div>
  </div>
</div>
</div>
</div>
