<div class="project-summ-container-fluid container-fluid">
<div class="project-summary-container container">
  <div id="projects" class="project-summary-row">
    <h2>// Professional Projects as Front End Dev at JAST Media</h2>
    <p>Fully responsive websites built pixel-perfect from <strong>large-view mockups only</strong>.</p>
  <div class="row">
    <div class="project-column southpacific">
      <a href="http://southpacificins.com">
        <img src="images/screenshots/southpacific/southpacific.png" class="project-thumbnail" alt="">
      </a>
      <div id="floating-box">
        <div class="floating-info-block">
          <h3>South Pacific Insurance</h3>
        <p><span>My contribution:</span> Entire website, including custom forms</p>
        </div>
        <div class="floating-info-block">
          <a href="http://southpacificins.com">View live site</a>
        </div>
      </div>
    </div>
    <div class="project-column">
      <a href="images/screenshots/johnnys/johnnys-lg.png">
        <img src="images/thumbnails/johnnys.png" class="project-thumbnail" alt="">
      </a>
      <div id="floating-box">
        <div class="floating-info-block">
          <h3>Johnny's Lakeside RV Resort</h3>
        <p><span>My contribution:</span> Entire website, including custom forms</p>
        </div>
        <div class="floating-info-block">
          <a href="images/screenshots/johnnys/johnnys-lg.png">In production, view screenshot</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project-column">
      <a href="images/screenshots/terrafirma/terrafirma-lg.png">
        <img src="images/thumbnails/terrafirma-tn.png"  class="project-thumbnail" alt="">
      </a>
      <div id="floating-box">
        <div class="floating-info-block">
          <h3>TerraFirma</h3>
        <p><span>My contribution:</span> Entire website</p>
        </div>
        <div class="floating-info-block">
          <a href="images/screenshots/terrafirma/terrafirma-lg.png">Screenshot(currently in production)</a>
        </div>
      </div>
    </div>
    <div class="project-column">
      <a href="images/screenshots/shd/sandiego-hd-lg.png">
        <img src="images/thumbnails/sandiegoharley-tn.png"  class="project-thumbnail" alt="">
      </a>
      <div id="floating-box">
        <div class="floating-info-block">
          <h3>San Diego Harley&reg;</h3>
        <p><span>My contribution:</span> fully responsive front page</p>
        </div>
        <div class="floating-info-block">
          <a href="http://southpacificins.com">Screenshot(currently in production)</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
